    <div class="slick-slider-frame">
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">1/5</strong>
                        <h1>PARTIES PRENANTES</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Que signiﬁe RSE ?</p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">2/5</strong>
                        <h1>PARTIES PRENANTES</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Quelle(s) certiﬁcation(s) a obtenu(s) Loxam au niveau du Groupe ?</p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">3/5</strong>
                        <h1>PARTIES PRENANTES</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>En 2018, Loxam a réalisé une enquête de matérialité. De quoi s’agit-il ?</p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">4/5</strong>
                        <h1>PARTIES PRENANTES</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Quel est le pourcentage d’investissements dans les matériels électriques et hybrides en 2018</p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">5/5</strong>
                        <h1>PARTIES PRENANTES</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Qu’est-ce que Global Compact ?</p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
