    <div class="slick-slider-frame">
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">1/4</strong>
                        <h1>ENVIRONNEMENT</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Quelle est la contenance minimum que doit avoir un bac de rétention dans lequel sont stockés 3 fûts d’huile de contenance de 220L, 220L et 50L chacun :</p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">2/4</strong>
                        <h1>ENVIRONNEMENT</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Parmi les affirmations suivantes, lesquelles permettent de réduire l’impact CO₂ de l’activité transport :</p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">3/4</strong>
                        <h1>ENVIRONNEMENT</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Combien existe-t-il de règles d'or en éco-conduite pour moins polluer ?</p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">4/4</strong>
                        <h1>ENVIRONNEMENT</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Parmi ces 3 indications qui peuvent se trouver sur un produit, qu'est-ce qui est interdit d'utilisation sur une aire de lavage ? </p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
