    <div class="slick-slider-frame">
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">1/5</strong>
                        <h1>SOCIAL</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Quels sont les bons chiffres de la diversité chez LOXAM :<br />
(plusieurs bonnes réponses) </p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="https://semaine-rse-loxam2019.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">2/5</strong>
                        <h1>SOCIAL</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Quel est le sigle qui représente l’engagement en 2019 pris par LOXAM dans le cadre de sa politique de la diversité : </p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="https://semaine-rse-loxam2019.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">3/5</strong>
                        <h1>SOCIAL</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Cette Charte de la Diversité contient 6 engagements. Le 3ème concerne le fait de « favoriser la représentation de la diversité de la société française dans... ».<br /> Merci de compléter cette phrase par le bon texte de la charte : </p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="https://semaine-rse-loxam2019.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">4/5</strong>
                        <h1>SOCIAL</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Quels sont les avantages d’avoir une politique de la diversité en place :<br />
(plusieurs bonnes réponses) </p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="https://semaine-rse-loxam2019.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">5/5</strong>
                        <h1>SOCIAL</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Quels articles de la charte éthique de LOXAM parlent de la diversité :<br />
(plusieurs bonnes réponses) </p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="https://semaine-rse-loxam2019.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
