    <div class="slick-slider-frame">
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">1/5</strong>
                        <h1>PARTIES PRENANTES</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Que signiﬁe RSE ?</p>
                            </div>
                                                            <h2>Bien joué ! </h2>
                                <p>L’acronyme « RSE » signiﬁe Responsabilité Sociale des Entreprises.</p>
                                                        <div class="btn-holder">
                                <a href="https://semaine-rse-loxam2019.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">2/5</strong>
                        <h1>PARTIES PRENANTES</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Quelle(s) certiﬁcation(s) a obtenu(s) Loxam au niveau du Groupe ?</p>
                            </div>
                                                            <h2>Bien essayé ! </h2>
                                <p>Au niveau du Groupe, Loxam a obtenu les certiﬁcations ISO 9001 et 14001 délivrées par le Bureau Veritas.<br />
La norme ISO 14001 met l’accent sur le rôle de la direction, ses enjeux et la perspective cycle de vie des produits et services.</p>
<p><img class="alignnone size-medium wp-image-254" src="https://semaine-rse-loxam2019.com/wp-content/uploads/2019/05/veritas-300x136.png" alt="" width="300" height="136" srcset="https://semaine-rse-loxam2019.com/wp-content/uploads/2019/05/veritas-300x136.png 300w, https://semaine-rse-loxam2019.com/wp-content/uploads/2019/05/veritas.png 396w" sizes="(max-width: 300px) 100vw, 300px" /></p>
                                                        <div class="btn-holder">
                                <a href="https://semaine-rse-loxam2019.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">3/5</strong>
                        <h1>PARTIES PRENANTES</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>En 2018, Loxam a réalisé une enquête de matérialité. De quoi s’agit-il ?</p>
                            </div>
                                                            <h2>Bien joué ! </h2>
                                <p>L’enquête de matérialité permet d&rsquo;identiﬁer et de hiérarchiser les enjeux RSE d&rsquo;une entreprise. C’est-à-dire qu’elle met en évidence «tout ce qui peut avoir un impact signiﬁcatif sur une entreprise, ses activités et sa capacité à créer de la valeur ﬁnancière et extra-ﬁnancière pour elle-même et ses parties prenantes.</p>
                                                        <div class="btn-holder">
                                <a href="https://semaine-rse-loxam2019.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">4/5</strong>
                        <h1>PARTIES PRENANTES</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Quel est le pourcentage d’investissements dans les matériels électriques et hybrides en 2018</p>
                            </div>
                                                            <h2>Bien joué ! </h2>
                                <p>En 2018, Loxam a consacré 25% de ses investissements aux matériels électriques et hybrides.</p>
                                                        <div class="btn-holder">
                                <a href="https://semaine-rse-loxam2019.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">5/5</strong>
                        <h1>PARTIES PRENANTES</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Qu’est-ce que Global Compact ?</p>
                            </div>
                                                            <h2>Bien essayé ! </h2>
                                <p>Global Compact est un pacte mondial visant à inciter les entreprises du monde entier à adopter une attitude socialement responsable.</p>
                                                        <div class="btn-holder">
                                <a href="https://semaine-rse-loxam2019.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
