    <div class="slick-slider-frame">
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">1/5</strong>
                        <h1>ÉTHIQUE</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>A quoi sert la procédure d’alerte éthique (whistLeblowing en anglais) Loxam ?</p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="https://semaine-rse-loxam2019.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">2/5</strong>
                        <h1>ÉTHIQUE</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Comment le Référent Ethique peut-il être contacté dans le cadre de la procédure d’alerte ?</p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="https://semaine-rse-loxam2019.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">3/5</strong>
                        <h1>ÉTHIQUE</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Un agent municipal vous propose de se fournir exclusivement chez Loxam à condition que vous lui preniez un abonnement pour qu’il puisse encourager son club de ligue 1 de football. </p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="https://semaine-rse-loxam2019.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">4/5</strong>
                        <h1>ÉTHIQUE</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Votre frère est gérant d’une société de transport et a envoyé des devis pour travailler avec l’agence Loxam dans laquelle vous êtes salarié. </p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="https://semaine-rse-loxam2019.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">5/5</strong>
                        <h1>ÉTHIQUE</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Le responsable de votre agence a tendance à avoir une attitude déplacée et trop tactile envers une employée. Que devez-vous faire face à ce comportement ?</p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="https://semaine-rse-loxam2019.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
