    <div class="slick-slider-frame">
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">1/5</strong>
                        <h1>SÉCURITÉ</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Quels sont les EPI obligatoires lors de l’utilisation du nettoyeur HP ?</p>
                            </div>
                                                            <h2>Bien essayé !</h2>
                                <p><span style="font-weight: 400;">Lorsque vous utilisez un nettoyeur HP, seules les lunettes-masques Coversal ne sont pas obligatoires.</span></p>

		<style type='text/css'>
			#gallery-2 {
				margin: auto;
			}
			#gallery-2 .gallery-item {
				float: left;
				margin-top: 10px;
				text-align: center;
				width: 33%;
			}
			#gallery-2 img {
				border: 2px solid #cfcfcf;
			}
			#gallery-2 .gallery-caption {
				margin-left: 0;
			}
			/* see gallery_shortcode() in wp-includes/media.php */
		</style>
		<div id='gallery-2' class='gallery galleryid-150 gallery-columns-3 gallery-size-full'><dl class='gallery-item'>
			<dt class='gallery-icon landscape'>
				<img width="400" height="266" src="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/starhot-fleur-tig.jpg" class="attachment-full size-full" alt="" srcset="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/starhot-fleur-tig.jpg 400w, http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/starhot-fleur-tig-300x200.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" />
			</dt></dl><dl class='gallery-item'>
			<dt class='gallery-icon portrait'>
				<img width="306" height="400" src="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/cagoule-kapio-S3.jpg" class="attachment-full size-full" alt="" srcset="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/cagoule-kapio-S3.jpg 306w, http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/cagoule-kapio-S3-230x300.jpg 230w" sizes="(max-width: 306px) 100vw, 306px" />
			</dt></dl><dl class='gallery-item'>
			<dt class='gallery-icon portrait'>
				<img width="378" height="400" src="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/pare-visage.jpg" class="attachment-full size-full" alt="" srcset="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/pare-visage.jpg 378w, http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/pare-visage-284x300.jpg 284w" sizes="(max-width: 378px) 100vw, 378px" />
			</dt></dl><br style="clear: both" /><dl class='gallery-item'>
			<dt class='gallery-icon landscape'>
				<img width="400" height="300" src="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/runner-flex-S3-ESD.jpg" class="attachment-full size-full" alt="" srcset="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/runner-flex-S3-ESD.jpg 400w, http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/runner-flex-S3-ESD-300x225.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" />
			</dt></dl><dl class='gallery-item'>
			<dt class='gallery-icon portrait'>
				<img width="291" height="400" src="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/ardeche-S5.jpg" class="attachment-full size-full" alt="" srcset="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/ardeche-S5.jpg 291w, http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/ardeche-S5-218x300.jpg 218w" sizes="(max-width: 291px) 100vw, 291px" />
			</dt></dl><dl class='gallery-item'>
			<dt class='gallery-icon portrait'>
				<img width="294" height="400" src="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/cotte-CBD-nylpeche.jpg" class="attachment-full size-full" alt="" srcset="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/cotte-CBD-nylpeche.jpg 294w, http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/cotte-CBD-nylpeche-221x300.jpg 221w" sizes="(max-width: 294px) 100vw, 294px" />
			</dt></dl><br style="clear: both" />
		</div>

                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">2/5</strong>
                        <h1>SÉCURITÉ</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Quels sont les EPI obligatoires lors de l’utilisation de la meuleuse ?</p>
                            </div>
                                                            <h2>Bien essayé !</h2>
                                <p><span style="font-weight: 400;">Lorsque vous utilisez la meuleuse, les gants Starhot Fleur Tig, le pare-visage complet Sphere, les Runner Flex S3 ESD et le tablier croute Apron 70x soudure sont obligatoires.</span></p>
<p>&nbsp;</p>

		<style type='text/css'>
			#gallery-4 {
				margin: auto;
			}
			#gallery-4 .gallery-item {
				float: left;
				margin-top: 10px;
				text-align: center;
				width: 25%;
			}
			#gallery-4 img {
				border: 2px solid #cfcfcf;
			}
			#gallery-4 .gallery-caption {
				margin-left: 0;
			}
			/* see gallery_shortcode() in wp-includes/media.php */
		</style>
		<div id='gallery-4' class='gallery galleryid-150 gallery-columns-4 gallery-size-full'><dl class='gallery-item'>
			<dt class='gallery-icon landscape'>
				<a href='http://loxam.ph.stgnew.com/quiz/lenvironnement-minimiser-notre-impact/gant-starhot-03-20330-30/'><img width="400" height="266" src="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/starhot-fleur-tig.jpg" class="attachment-full size-full" alt="" srcset="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/starhot-fleur-tig.jpg 400w, http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/starhot-fleur-tig-300x200.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></a>
			</dt></dl><dl class='gallery-item'>
			<dt class='gallery-icon portrait'>
				<a href='http://loxam.ph.stgnew.com/quiz/lenvironnement-minimiser-notre-impact/pare-visage/'><img width="378" height="400" src="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/pare-visage.jpg" class="attachment-full size-full" alt="" srcset="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/pare-visage.jpg 378w, http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/pare-visage-284x300.jpg 284w" sizes="(max-width: 378px) 100vw, 378px" /></a>
			</dt></dl><dl class='gallery-item'>
			<dt class='gallery-icon landscape'>
				<a href='http://loxam.ph.stgnew.com/quiz/lenvironnement-minimiser-notre-impact/runner-flex-s3-esd/'><img width="400" height="300" src="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/runner-flex-S3-ESD.jpg" class="attachment-full size-full" alt="" srcset="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/runner-flex-S3-ESD.jpg 400w, http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/runner-flex-S3-ESD-300x225.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></a>
			</dt></dl><dl class='gallery-item'>
			<dt class='gallery-icon portrait'>
				<a href='http://loxam.ph.stgnew.com/quiz/lenvironnement-minimiser-notre-impact/ablier-croute-apron-70x90/'><img width="189" height="400" src="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/ABLIER-CROUTE-APRON-70x90.jpg" class="attachment-full size-full" alt="" srcset="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/ABLIER-CROUTE-APRON-70x90.jpg 189w, http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/ABLIER-CROUTE-APRON-70x90-142x300.jpg 142w" sizes="(max-width: 189px) 100vw, 189px" /></a>
			</dt></dl><br style="clear: both" />
		</div>

                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">3/5</strong>
                        <h1>SÉCURITÉ</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Quels sont les EPI obligatoires en toutes zones pour un mécanicien ?</p>
                            </div>
                                                            <h2>Bien essayé !</h2>
                                <p><span style="font-weight: 400;">Si vous êtes un mécanicien vous trouvant en toutes zones, seul le Pixa 3 Atex n’est pas obligatoire.</span></p>
<p>&nbsp;</p>

		<style type='text/css'>
			#gallery-6 {
				margin: auto;
			}
			#gallery-6 .gallery-item {
				float: left;
				margin-top: 10px;
				text-align: center;
				width: 33%;
			}
			#gallery-6 img {
				border: 2px solid #cfcfcf;
			}
			#gallery-6 .gallery-caption {
				margin-left: 0;
			}
			/* see gallery_shortcode() in wp-includes/media.php */
		</style>
		<div id='gallery-6' class='gallery galleryid-150 gallery-columns-3 gallery-size-full'><dl class='gallery-item'>
			<dt class='gallery-icon landscape'>
				<a href='http://loxam.ph.stgnew.com/quiz/lenvironnement-minimiser-notre-impact/fit4protouch/'><img width="400" height="400" src="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/fit4protouch.jpg" class="attachment-full size-full" alt="" srcset="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/fit4protouch.jpg 400w, http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/fit4protouch-150x150.jpg 150w, http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/fit4protouch-300x300.jpg 300w, http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/fit4protouch-50x50.jpg 50w" sizes="(max-width: 400px) 100vw, 400px" /></a>
			</dt></dl><dl class='gallery-item'>
			<dt class='gallery-icon landscape'>
				<a href='http://loxam.ph.stgnew.com/quiz/lenvironnement-minimiser-notre-impact/lunette-rush-rushpcsp/'><img width="400" height="240" src="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/LUNETTE-RUSH-RUSHPCSP.jpg" class="attachment-full size-full" alt="" srcset="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/LUNETTE-RUSH-RUSHPCSP.jpg 400w, http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/LUNETTE-RUSH-RUSHPCSP-300x180.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></a>
			</dt></dl><dl class='gallery-item'>
			<dt class='gallery-icon portrait'>
				<a href='http://loxam.ph.stgnew.com/quiz/lenvironnement-minimiser-notre-impact/cagoule-kapio-s3/'><img width="306" height="400" src="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/cagoule-kapio-S3.jpg" class="attachment-full size-full" alt="" srcset="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/cagoule-kapio-S3.jpg 306w, http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/cagoule-kapio-S3-230x300.jpg 230w" sizes="(max-width: 306px) 100vw, 306px" /></a>
			</dt></dl><br style="clear: both" /><dl class='gallery-item'>
			<dt class='gallery-icon landscape'>
				<a href='http://loxam.ph.stgnew.com/quiz/lenvironnement-minimiser-notre-impact/casquette-classic/'><img width="400" height="261" src="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/CASQUETTE-classic.jpg" class="attachment-full size-full" alt="" srcset="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/CASQUETTE-classic.jpg 400w, http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/CASQUETTE-classic-300x196.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></a>
			</dt></dl><dl class='gallery-item'>
			<dt class='gallery-icon landscape'>
				<a href='http://loxam.ph.stgnew.com/quiz/lenvironnement-minimiser-notre-impact/runner-flex-s3-esd/'><img width="400" height="300" src="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/runner-flex-S3-ESD.jpg" class="attachment-full size-full" alt="" srcset="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/runner-flex-S3-ESD.jpg 400w, http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/runner-flex-S3-ESD-300x225.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></a>
			</dt></dl>
			<br style='clear: both' />
		</div>

                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">4/5</strong>
                        <h1>SÉCURITÉ</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>À qui incombe la responsabilité d’établir le document unique d’une agence ?</p>
                            </div>
                                                            <h2>Bien essayé !</h2>
                                <p><span style="font-weight: 400;">Le Responsable d’agence est chargé d’établir le document unique d’une agence</span></p>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">5/5</strong>
                        <h1>SÉCURITÉ</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Combien coûte un accident du travail sans arrêt de travail ou avec un arrêt d'une semaine maxi ? </p>
                            </div>
                                                            <h2>Bien essayé !</h2>
                                <p><span style="font-weight: 400;">Un accident de travail sans arrêt de travail ou même avec un arrêt d’une semaine coûte un forfait de 3.800€. La sécurité est donc un enjeu prioritaire pour votre santé autant que pour celle de l’agence.</span></p>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
