
<div class="container">
    <div class="results-holder">
        <h1>Votre score global :</h1>
        <div class="total-info">
            <strong>19/34 - 04:59</strong>
        </div>
        <div class="results-list">
                    <div class="col">
            <div class="holder item-1  active">
                                    <strong>SÉCURITÉ</strong>
                    <span>1/5 - 01:15</span>
                            </div>
        </div>
            <div class="col">
            <div class="holder item-2  active">
                                    <strong>ENVIRONNEMENT</strong>
                    <span>2/4 - 00:52</span>
                            </div>
        </div>
            <div class="col">
            <div class="holder item-3  active">
                                    <strong>ÉTHIQUE</strong>
                    <span>4/5 - 01:22</span>
                            </div>
        </div>
            <div class="col">
            <div class="holder item-4  active">
                                    <strong>SOCIAL</strong>
                    <span>3/5 - 00:50</span>
                            </div>
        </div>
            <div class="col">
            <div class="holder item-5 active ">
                                    <strong>PARTIES PRENANTES</strong>
                    <span>9/15 - 00:40</span>
                            </div>
        </div>
            </div>
                    <div class="text-holder">
                <strong class="sub-title">BRAVO ! </strong>
                <p>Les résulats arrivent par mail très prochainement !</p>
                    <h2>Pour en savoir plus, découvrez notre Rapport RSE 2018</h2>
                                                    <a href="#" target="" class="btn btn-red">Découvrir <i class="fas fa-chevron-right"></i></a>
                            </div>
            </div>
</div>