
<div class="container">
    <div class="results-holder">
        <h1>Votre score global :</h1>
        <div class="total-info">
            <strong>02/34 - 01:27</strong>
        </div>
        <div class="results-list">
                    <div class="col">
            <div class="holder item-1 active ">
                                    <strong>SÉCURITÉ</strong>
                    <span>2/5 - 01:27</span>
                            </div>
        </div>
            <div class="col">
            <div class="holder item-2  ">
                                    <div class="ico">
                        <img src="http://loxam.ph.stgnew.com/wp-content/themes/loxam/images/ico-lock.png" alt="image description">
                    </div>
                            </div>
        </div>
            <div class="col">
            <div class="holder item-3  ">
                                    <div class="ico">
                        <img src="http://loxam.ph.stgnew.com/wp-content/themes/loxam/images/ico-lock.png" alt="image description">
                    </div>
                            </div>
        </div>
            <div class="col">
            <div class="holder item-4  ">
                                    <div class="ico">
                        <img src="http://loxam.ph.stgnew.com/wp-content/themes/loxam/images/ico-lock.png" alt="image description">
                    </div>
                            </div>
        </div>
            <div class="col">
            <div class="holder item-5  ">
                                    <div class="ico">
                        <img src="http://loxam.ph.stgnew.com/wp-content/themes/loxam/images/ico-lock.png" alt="image description">
                    </div>
                            </div>
        </div>
            </div>
                    <h1>Merci et à demain !</h1>
            </div>
</div>