    <div class="slick-slider-frame">
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">1/4</strong>
                        <h1>ENVIRONNEMENT</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Quelle est la contenance minimum que doit avoir un bac de rétention dans lequel sont stockés 3 fûts d’huile de contenance de 220L, 220L et 50L chacun :</p>
                            </div>
                                                            <h2>Bien joué !</h2>
                                <p><span style="font-weight: 400;">Un bac de rétention dans lequel sont stockés 3 fûts d’huile de contenance de 220L, 220L et 50L doit être en capacité de contenir minimum </span><b>245L</b></p>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">2/4</strong>
                        <h1>ENVIRONNEMENT</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Parmi les affirmations suivantes, lesquelles permettent de réduire l’impact CO₂ de l’activité transport :</p>
                            </div>
                                                            <h2>Bien essayé !</h2>
                                <p><span style="font-weight: 400;">L’activité transport peut suivre les recommandations suivantes pour réduire l’impact CO2 :</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Vérifiez la pression des pneus au moins une fois par mois</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Accélérez dès que possible pour ne jamais baisser le régime du moteur</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Évitez les surrégimes, et engagez le rapport supérieur le plus vite possible (2000/2500 tours pour les voitures et 1200/1500 tours pour les Poids Lourds)</span></li>
</ul>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">3/4</strong>
                        <h1>ENVIRONNEMENT</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Combien existe-t-il de règles d'or en éco-conduite pour moins polluer ?</p>
                            </div>
                                                            <h2>Bien joué !</h2>
                                <p><span style="font-weight: 400;">Pour adopter une éco-conduite moins polluante, il existe 10 règles d’or chez Loxam consultables sur Platform telles que la mutualisation des transports dans les métropoles, la réduction des km à vide, …</span></p>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">4/4</strong>
                        <h1>ENVIRONNEMENT</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Parmi ces 3 indications qui peuvent se trouver sur un produit, qu'est-ce qui est interdit d'utilisation sur une aire de lavage ? </p>
                            </div>
                                                            <h2>Bien essayé !</h2>
                                <p><span style="font-weight: 400;">Les produits qui comportent les indications « toxicité aiguë » et « danger pour l’environnement » sont interdits d’utilisation sur une aire de lavage.</span></p>
<p>&nbsp;</p>

		<style type='text/css'>
			#gallery-2 {
				margin: auto;
			}
			#gallery-2 .gallery-item {
				float: left;
				margin-top: 10px;
				text-align: center;
				width: 25%;
			}
			#gallery-2 img {
				border: 2px solid #cfcfcf;
			}
			#gallery-2 .gallery-caption {
				margin-left: 0;
			}
			/* see gallery_shortcode() in wp-includes/media.php */
		</style>
		<div id='gallery-2' class='gallery galleryid-150 gallery-columns-4 gallery-size-full'><dl class='gallery-item'>
			<dt class='gallery-icon portrait'>
				<a href='http://loxam.ph.stgnew.com/quiz/lenvironnement-minimiser-notre-impact-2/toxicite-aigue/'><img width="175" height="193" src="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/toxicite-aigue.png" class="attachment-full size-full" alt="" /></a>
			</dt></dl><dl class='gallery-item'>
			<dt class='gallery-icon portrait'>
				<a href='http://loxam.ph.stgnew.com/quiz/lenvironnement-minimiser-notre-impact-2/danger-pour-lenvironnement/'><img width="177" height="207" src="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/danger-pour-lenvironnement.png" class="attachment-full size-full" alt="" /></a>
			</dt></dl>
			<br style='clear: both' />
		</div>

                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
