    <div class="slick-slider-frame">
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">1/5</strong>
                        <h1>ÉTHIQUE</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>A quoi sert la procédure d’alerte éthique (whistLeblowing en anglais) Loxam ?</p>
                            </div>
                                                            <h2>Bien joué !</h2>
                                <p><span style="font-weight: 400;">Engagés pour le respect de l’éthique des affaires, nous avons mis en place une procédure d’alerte éthique dites de « whistleblowing » afin </span><b>de faire remonter auprès du Référent Ethique toute violation de la loi (fraude ou corruption par exemple) ou toute violation de la Charte Éthique de Loxam.</b></p>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">2/5</strong>
                        <h1>ÉTHIQUE</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Comment le Référent Ethique peut-il être contacté dans le cadre de la procédure d’alerte ?</p>
                            </div>
                                                            <h2>Bien essayé !</h2>
                                <p><span style="font-weight: 400;">Si vous avez connaissance d’actes illégaux ou contraires à la Charte Ethique, vous pouvez contacter le référent éthique de Loxam par </span><b>e-mail adressé à rse-ethique@loxam.fr et par téléphone au 06 88 600 600</b></p>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">3/5</strong>
                        <h1>ÉTHIQUE</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Un agent municipal vous propose de se fournir exclusivement chez Loxam à condition que vous lui preniez un abonnement pour qu’il puisse encourager son club de ligue 1 de football. </p>
                            </div>
                                                            <h2>Bien joué !</h2>
                                <p><b>Ce type d’accord n’est pas autorisé et pourrait être qualifié de corruption, </b><span style="font-weight: 400;">c’est-à-dire comme étant une action visant à corrompre ou soudoyer un individu, généralement en lui proposant de l’argent ou des cadeaux, afin de le pousser à agir contrairement à sa conscience et ses devoirs.</span></p>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">4/5</strong>
                        <h1>ÉTHIQUE</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Votre frère est gérant d’une société de transport et a envoyé des devis pour travailler avec l’agence Loxam dans laquelle vous êtes salarié. </p>
                            </div>
                                                            <h2>Bien joué !</h2>
                                <p><span style="font-weight: 400;">Travailler avec un membre de sa famille peut comporter des limites en matière d’éthique. </span><b>Cette situation risque de générer un conflit d’intérêt, vous devez en parler au responsable d’agence. </b></p>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">5/5</strong>
                        <h1>ÉTHIQUE</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Le responsable de votre agence a tendance à avoir une attitude déplacée et trop tactile envers une employée. Que devez-vous faire face à ce comportement ?</p>
                            </div>
                                                            <h2>Bien joué !</h2>
                                <p><span style="font-weight: 400;">Notre Charte Ethique fait référence aux valeurs d’intégrité et d’éthique qui condamnent ce comportement. Dans cette situation, </span><b>il faut lui indiquer de contacter le Directeur de Région, les ressources humaines ou le Référent Ethique pour évoquer sa situation car le comportement du responsable d’agence n’est pas acceptable au sein du Groupe.</b></p>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
