    <div class="slick-slider-frame">
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">1/5</strong>
                        <h1>SÉCURITÉ</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Quels sont les EPI obligatoires lors de l’utilisation du nettoyeur HP ?<br />
(plusieurs bonnes réponses) </p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">2/5</strong>
                        <h1>SÉCURITÉ</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Quels sont les EPI obligatoires lors de l’utilisation de la meuleuse ?<br />
(plusieurs bonnes réponses) </p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">3/5</strong>
                        <h1>SÉCURITÉ</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Quels sont les EPI obligatoires en toutes zones pour un mécanicien ?<br />
(plusieurs bonnes réponses) </p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">4/5</strong>
                        <h1>SÉCURITÉ</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>À qui incombe la responsabilité d’établir le document unique d’une agence ?</p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">5/5</strong>
                        <h1>SÉCURITÉ</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Combien coûte un accident du travail sans arrêt de travail ou avec un arrêt d'une semaine maxi ? </p>
                            </div>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
