
<div class="container">
    <div class="results-holder">
        <h1>Votre score global :</h1>
        <div class="total-info">
            <strong>04/34 - 01:04</strong>
        </div>
        <div class="results-list">
                    <div class="col">
            <div class="holder item-1  active">
                                    <strong>SÉCURITÉ</strong>
                    <span>0/5 - 00:00</span>
                            </div>
        </div>
            <div class="col">
            <div class="holder item-2  active">
                                    <strong>ENVIRONNEMENT</strong>
                    <span>3/4 - 00:13</span>
                            </div>
        </div>
            <div class="col">
            <div class="holder item-3  active">
                                    <strong>ÉTHIQUE</strong>
                    <span>0/5 - 00:00</span>
                            </div>
        </div>
            <div class="col">
            <div class="holder item-4 active ">
                                    <strong>SOCIAL</strong>
                    <span>1/5 - 00:51</span>
                            </div>
        </div>
            <div class="col">
            <div class="holder item-5  ">
                                    <div class="ico">
                        <img src="http://loxam.ph.stgnew.com/wp-content/themes/loxam/images/ico-lock.png" alt="image description">
                    </div>
                            </div>
        </div>
            </div>
                    <h1>Merci et à demain !</h1>
            </div>
</div>