    <div class="slick-slider-frame">
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">1/5</strong>
                        <h1>SOCIAL</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Quels sont les bons chiffres de la diversité chez LOXAM :</p>
                            </div>
                                                            <h2>Bien essayé !</h2>
                                <p><span style="font-weight: 400;">Chez Loxam, nous nous engageons au quotidien pour la parité et la valorisation des salariés de plus de 50 ans. C’est pourquoi plus de </span><b>40% des RL sont des femmes et plus de 20% des salariés ont plus de 50 ans.</b></p>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">2/5</strong>
                        <h1>SOCIAL</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Quel est le sigle qui représente l’engagement en 2019 pris par LOXAM dans le cadre de sa politique de la diversité : </p>
                            </div>
                                                            <h2>Bien joué !</h2>
                                <p><span style="font-weight: 400;">Pour poursuivre nos actions en matière de diversité, nous adhérons en 2019 à la </span><b>Charte de la Diversité et défendons les 6 articles de celle-ci.</b></p>
<p><img class="size-full wp-image-396 aligncenter" src="http://loxam.ph.stgnew.com/wp-content/uploads/2019/05/Diversite-4.png" alt="" width="283" height="169" /></p>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">3/5</strong>
                        <h1>SOCIAL</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Cette Charte de la Diversité contient 6 engagements. Le 3ème concerne le fait de « favoriser la représentation de la diversité de la société française dans... ».<br /> Merci de compléter cette phrase pour le bon texte de la charte : </p>
                            </div>
                                                            <h2>Bien essayé !</h2>
                                <p><span style="font-weight: 400;">Le troisième engagement de la Charte de la Diversité vise à « favoriser la représentation de la diversité de la société française dans </span><b>toutes ses différences et ses richesses, les composantes culturelle, éthique et sociale, au sein des effectifs et à tous les niveaux de responsabilité. </b><span style="font-weight: 400;">»</span></p>
<p>&nbsp;</p>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">4/5</strong>
                        <h1>SOCIAL</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Quels sont les avantages d’avoir une politique de la diversité en place :</p>
                            </div>
                                                            <h2>Bien essayé !</h2>
                                <p><span style="font-weight: 400;">Toutes les réponses étaient correctes ! En effet, avoir une politique de la diversité en place permet de </span><b>favoriser l’innovation, la diversification de notre business, de faciliter le développement à l’international et d’attirer, fidéliser et retenir les Talents.</b></p>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="question-holder">
                <div class="top-holder">
                    <div class="container">
                        <strong class="question-number">5/5</strong>
                        <h1>SOCIAL</h1>
                    </div>
                </div>
                <div class="answer-holder">
                    <div class="container">
                        <div class="frame">
                            <div class="complete_question">
                                <p>Quels articles de la charte éthique de LOXAM parlent de la diversité : </p>
                            </div>
                                                            <h2>Bien essayé !</h2>
                                <p><span style="font-weight: 400;">En parallèle de l’adhésion à la Charte de la Diversité en 2019, nous avons créé depuis plusieurs années une charte éthique qui aborde la diversité dans les </span><b>chapitres 1, 2 et 5.</b></p>
                                                        <div class="btn-holder">
                                <a href="http://loxam.ph.stgnew.com" class="btn btn-red">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
