/*
Theme Name: LOXAM
Author: Anonymous
Author URI:
Version: 1
Description: LOXAM theme for Wordpress
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: LOXAM
Tags: one-column, two-columns
Theme URI:
*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
	 ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
	 ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
	 ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
	 ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
	 ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
	 ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
	 ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

#header .info-list, .slick-dots {
  margin: 0;
  padding: 0;
  list-style: none; }

.clearfix:after, dl:after, .widget:after, .search-form:after, .post-password-form p:after, .navigation-single:after, .container:after, .login-holder .row:after, .line-holder label:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  max-height: 1000000px; }

body {
  color: #333;
  background: #fff;
  font: 24px/1.2 "Work Sans", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

.gm-style img {
  max-width: none; }

ul, ol, dl, p, h1, h2, h3, h4, h5, h6, address, form, table, blockquote, applet, embed, object, iframe, frameset {
  margin: 0 0 1.2em; }

blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: .5em;
  margin-left: 1.2em; }

th, td {
  border: 1px solid #e8e8e8;
  padding: .5em;
  text-align: left;
  vertical-align: top; }

th {
  text-align: center;
  vertical-align: middle; }

ul, ol {
  padding-left: 3em; }

ul ul,
ul ol,
ol ul,
ol ol {
  padding-left: 3em;
  margin: 0; }

ul {
  list-style-type: disc; }

dl dt {
  float: left;
  clear: left;
  padding-right: .3em;
  font-weight: bold; }

dl dd {
  overflow: hidden; }

pre {
  max-width: 100%; }

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-sizing: border-box;
  border: 1px solid #b7bac1;
  padding: 0.4em 0.7em;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  background: #b7bac1; }
  input[type='text']:focus,
  input[type='tel']:focus,
  input[type='email']:focus,
  input[type='search']:focus,
  input[type='password']:focus,
  textarea:focus {
    border-color: #333; }
  input[type='text']::-webkit-input-placeholder,
  input[type='tel']::-webkit-input-placeholder,
  input[type='email']::-webkit-input-placeholder,
  input[type='search']::-webkit-input-placeholder,
  input[type='password']::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #e8e8e8; }
  input[type='text']::-moz-placeholder,
  input[type='tel']::-moz-placeholder,
  input[type='email']::-moz-placeholder,
  input[type='search']::-moz-placeholder,
  input[type='password']::-moz-placeholder,
  textarea::-moz-placeholder {
    opacity: 1;
    color: #e8e8e8; }
  input[type='text']:-moz-placeholder,
  input[type='tel']:-moz-placeholder,
  input[type='email']:-moz-placeholder,
  input[type='search']:-moz-placeholder,
  input[type='password']:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #e8e8e8; }
  input[type='text']:-ms-input-placeholder,
  input[type='tel']:-ms-input-placeholder,
  input[type='email']:-ms-input-placeholder,
  input[type='search']:-ms-input-placeholder,
  input[type='password']:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #e8e8e8; }
  input[type='text'].placeholder,
  input[type='tel'].placeholder,
  input[type='email'].placeholder,
  input[type='search'].placeholder,
  input[type='password'].placeholder,
  textarea.placeholder {
    color: #e8e8e8; }

select {
  -webkit-border-radius: 0; }

textarea {
  resize: vertical;
  vertical-align: top; }

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer; }

.widget {
  margin-bottom: 1.2em; }
  .widget ul {
    padding-left: 2em; }
  .widget select {
    min-width: 150px; }

.comment-form label {
  display: block;
  padding-bottom: 4px; }

.comment-form textarea {
  overflow: auto;
  margin: 0;
  height: 120px;
  min-height: 120px; }

.comment-form textarea,
.comment-form input[type='text'] {
  margin: 0 4px 0 0;
  max-width: 300px;
  width: 100%; }

.comment-form input[type='submit'] {
  display: block;
  float: none; }

.post-password-form label {
  display: block;
  margin-bottom: 4px; }

.post-password-form input[type='password'] {
  margin: 0 4px 0 0;
  max-width: 300px;
  width: 100%; }

.search-form {
  margin-bottom: 15px; }
  .search-form input {
    float: left;
    height: 2em; }
    .search-form input[type='search'] {
      margin: 0 4px 0 0;
      width: 150px; }

.post-password-form input {
  float: left;
  height: 2em; }
  .post-password-form input[type='password'] {
    width: 150px; }

.comment-form input[type='submit'],
.post-password-form input[type='submit'],
.search-form input[type='submit'] {
  background: #333;
  color: #fff;
  height: 2em;
  border: none;
  font-size: 16px;
  line-height: 1.2;
  padding: 0 .5em; }
  .comment-form input[type='submit']:hover,
  .post-password-form input[type='submit']:hover,
  .search-form input[type='submit']:hover {
    opacity: 0.8; }

.commentlist {
  margin: 0 0 1.2em; }
  .commentlist .edit-link {
    margin: 0; }
  .commentlist .avatar-holder {
    float: left;
    margin: 0 1.2em 4px 0; }

.commentlist-item .commentlist-item {
  padding: 0; }
  @media (min-width: 1024px) {
    .commentlist-item .commentlist-item {
      padding: 0 0 0 2em; } }

.comment,
.commentlist-holder {
  overflow: hidden; }

.commentlist-item .commentlist-item,
.commentlist-item + .commentlist-item {
  padding-top: 1.2em; }

.widget_calendar #next {
  text-align: right; }

.gallery-item dt {
  float: none;
  padding: 0; }

.navigation,
.navigation-comments {
  position: relative;
  vertical-align: middle;
  margin-bottom: 1.2em; }
  .navigation .screen-reader-text,
  .navigation-comments .screen-reader-text {
    position: absolute;
    left: -99999px; }
  .navigation .page-numbers,
  .navigation-comments .page-numbers {
    display: inline-block;
    vertical-align: middle;
    padding: 0 .4em; }
    @media (max-width: 1023px) {
      .navigation .page-numbers,
      .navigation-comments .page-numbers {
        padding: 0 3px; } }
  .navigation .next,
  .navigation .prev,
  .navigation-comments .next,
  .navigation-comments .prev {
    display: inline-block;
    vertical-align: middle;
    max-width: 48%;
    background: #333;
    color: #fff;
    padding: .4em;
    text-decoration: none; }
    @media (max-width: 1023px) {
      .navigation .next,
      .navigation .prev,
      .navigation-comments .next,
      .navigation-comments .prev {
        padding: .2em; } }
    .navigation .next:hover,
    .navigation .prev:hover,
    .navigation-comments .next:hover,
    .navigation-comments .prev:hover {
      opacity: 0.8; }

.navigation-single {
  margin-bottom: 1.2em; }
  .navigation-single .next,
  .navigation-single .prev {
    float: left;
    vertical-align: middle;
    max-width: 48%;
    background: #333;
    color: #fff;
    text-decoration: none; }
    .navigation-single .next:hover,
    .navigation-single .prev:hover {
      opacity: 0.8; }
    .navigation-single .next a,
    .navigation-single .prev a {
      color: inherit;
      text-decoration: none;
      padding: .4em;
      display: block; }
      @media (max-width: 1023px) {
        .navigation-single .next a,
        .navigation-single .prev a {
          padding: .2em; } }
  .navigation-single .next {
    float: right; }

.wp-caption {
  max-width: 100%;
  clear: both;
  border: 1px solid #e8e8e8;
  padding: .4em;
  margin-bottom: 1.2em; }
  .wp-caption img {
    margin: 0;
    vertical-align: top; }
  .wp-caption p {
    margin: .4em 0 0; }

div.aligncenter {
  margin: 0 auto 1.2em; }

img.aligncenter {
  display: block;
  margin: 0 auto; }

.alignleft {
  float: left;
  margin: 0 1.2em 4px 0; }

.alignright {
  float: right;
  margin: 0 0 4px 1.2em; }

.mejs-container {
  margin-bottom: 1.2em; }

.wp-caption-text,
.gallery,
.alignnone,
.gallery-caption,
.sticky,
.bypostauthor {
  height: auto; }

@media (max-width: 1199px) {
  iframe {
    width: 100%; } }

#wp-calendar tbody td {
  text-align: center; }

#wp-calendar td,
#wp-calendar th {
  border: 1px solid #e8e8e8; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: inherit;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #e50033;
  letter-spacing: -0.8px; }
  @media (max-width: 767px) {
    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6,
    .h {
      letter-spacing: 0; } }

h1, .h1 {
  font-size: 45px; }

h2, .h2 {
  font-size: 27px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 21px; }

h5, .h5 {
  font-size: 17px; }

h6, .h6 {
  font-size: 15px; }

p {
  margin: 0 0 1em; }

a {
  color: #39f; }
  a:hover, a:focus {
    text-decoration: none; }

.container {
  max-width: 70.9vw;
  margin: 0 auto;
  padding: 0 1.4vw; }
  @media (max-width: 1199px) {
    .container {
      max-width: 90vw; } }
  @media (max-width: 1023px) {
    .container {
      max-width: 100%; } }
  @media (max-width: 767px) {
    .container {
      padding: 0 10px; } }

#wrapper {
  overflow: hidden; }

#header {
  background: #e8e8e8;
  padding: 1.2vw 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; }
  @media (max-width: 767px) {
    #header {
      padding: 10px 0;
      min-width: 320px; } }
  #header .container {
    max-width: 73.9vw; }
    @media (max-width: 1199px) {
      #header .container {
        max-width: 85vw; } }
    @media (max-width: 1023px) {
      #header .container {
        max-width: 100%; } }
  #header .logo {
    float: left;
    width: 13vw;
    margin: 0.1vw 0 0;
    line-height: 0; }
    @media (max-width: 1023px) {
      #header .logo {
        width: 20vw; } }
    @media (max-width: 767px) {
      #header .logo {
        width: 48.5%;
        text-align: right; } }
    #header .logo img {
      width: 100%; }
      @media (max-width: 767px) {
        #header .logo img {
          width: 140px; } }
  #header .slogan {
    float: left;
    width: 32%;
    color: #e50033;
    font-weight: 900;
    font-size: 1.17vw;
    line-height: 1.17vw;
    border-left: 1px solid #fff;
    padding: 0 0 0 1.1vw;
    margin: 0 0 0 1.3vw;
    letter-spacing: 0.2px; }
    @media (max-width: 1023px) {
      #header .slogan {
        font-size: 1.7vw;
        line-height: 1; } }
    @media (max-width: 767px) {
      #header .slogan {
        font-size: 9px;
        width: 50%;
        float: right;
        margin: 3px 0 0;
        padding: 0 0 0 5px; } }
    #header .slogan span {
      display: block;
      text-transform: uppercase; }
  #header .info-list {
    color: #e50033;
    font-size: 1.11vw;
    line-height: 0.9;
    font-weight: bold;
    float: right;
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    letter-spacing: 0.3px;
    padding: 0.2vw 0 0;
    text-align: right; }
    @media (max-width: 1023px) {
      #header .info-list {
        font-size: 1.7vw;
        line-height: 2.4vw; } }
    @media (max-width: 767px) {
      #header .info-list {
        float: none;
        clear: both;
        width: 100%;
        padding: 10px 0 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-size: 13px;
        line-height: 1.2; } }
    #header .info-list li {
      padding: 0 1.2vw;
      border-right: 1px solid #b7bac1;
      min-height: 1.8vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      white-space: nowrap;
      position: relative; }
      #header .info-list li:first-child {
        padding-left: 0;
        white-space: normal; }
      #header .info-list li:last-child {
        border: none;
        padding-right: 0; }
      @media (max-width: 767px) {
        #header .info-list li {
          padding: 0 10px; } }
  #header .counter-time {
    min-width: 9vw; }
    @media (max-width: 1023px) {
      #header .counter-time {
        min-width: 10vw; } }
    @media (max-width: 767px) {
      #header .counter-time {
        min-width: 12vw; } }

@-webkit-keyframes minutes-tens {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  16.6666666667% {
    -webkit-transform: translateY(-3.5vw);
            transform: translateY(-3.5vw); }
  33.3333333333% {
    -webkit-transform: translateY(-7vw);
            transform: translateY(-7vw); }
  50% {
    -webkit-transform: translateY(-10.5vw);
            transform: translateY(-10.5vw); }
  66.6666666667% {
    -webkit-transform: translateY(-14vw);
            transform: translateY(-14vw); }
  83.3333333333% {
    -webkit-transform: translateY(-17.5vw);
            transform: translateY(-17.5vw); } }

@keyframes minutes-tens {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  16.6666666667% {
    -webkit-transform: translateY(-3.5vw);
            transform: translateY(-3.5vw); }
  33.3333333333% {
    -webkit-transform: translateY(-7vw);
            transform: translateY(-7vw); }
  50% {
    -webkit-transform: translateY(-10.5vw);
            transform: translateY(-10.5vw); }
  66.6666666667% {
    -webkit-transform: translateY(-14vw);
            transform: translateY(-14vw); }
  83.3333333333% {
    -webkit-transform: translateY(-17.5vw);
            transform: translateY(-17.5vw); } }

@-webkit-keyframes minutes-ones {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  10% {
    -webkit-transform: translateY(-3.5vw);
            transform: translateY(-3.5vw); }
  20% {
    -webkit-transform: translateY(-7vw);
            transform: translateY(-7vw); }
  30% {
    -webkit-transform: translateY(-10.5vw);
            transform: translateY(-10.5vw); }
  40% {
    -webkit-transform: translateY(-14vw);
            transform: translateY(-14vw); }
  50% {
    -webkit-transform: translateY(-17.5vw);
            transform: translateY(-17.5vw); }
  60% {
    -webkit-transform: translateY(-21vw);
            transform: translateY(-21vw); }
  70% {
    -webkit-transform: translateY(-24.5vw);
            transform: translateY(-24.5vw); }
  80% {
    -webkit-transform: translateY(-28vw);
            transform: translateY(-28vw); }
  90% {
    -webkit-transform: translateY(-31.5vw);
            transform: translateY(-31.5vw); } }

@keyframes minutes-ones {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  10% {
    -webkit-transform: translateY(-3.5vw);
            transform: translateY(-3.5vw); }
  20% {
    -webkit-transform: translateY(-7vw);
            transform: translateY(-7vw); }
  30% {
    -webkit-transform: translateY(-10.5vw);
            transform: translateY(-10.5vw); }
  40% {
    -webkit-transform: translateY(-14vw);
            transform: translateY(-14vw); }
  50% {
    -webkit-transform: translateY(-17.5vw);
            transform: translateY(-17.5vw); }
  60% {
    -webkit-transform: translateY(-21vw);
            transform: translateY(-21vw); }
  70% {
    -webkit-transform: translateY(-24.5vw);
            transform: translateY(-24.5vw); }
  80% {
    -webkit-transform: translateY(-28vw);
            transform: translateY(-28vw); }
  90% {
    -webkit-transform: translateY(-31.5vw);
            transform: translateY(-31.5vw); } }

@-webkit-keyframes seconds-tens {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  16.6666666667% {
    -webkit-transform: translateY(-3.5vw);
            transform: translateY(-3.5vw); }
  33.3333333333% {
    -webkit-transform: translateY(-7vw);
            transform: translateY(-7vw); }
  50% {
    -webkit-transform: translateY(-10.5vw);
            transform: translateY(-10.5vw); }
  66.6666666667% {
    -webkit-transform: translateY(-14vw);
            transform: translateY(-14vw); }
  83.3333333333% {
    -webkit-transform: translateY(-17.5vw);
            transform: translateY(-17.5vw); } }

@keyframes seconds-tens {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  16.6666666667% {
    -webkit-transform: translateY(-3.5vw);
            transform: translateY(-3.5vw); }
  33.3333333333% {
    -webkit-transform: translateY(-7vw);
            transform: translateY(-7vw); }
  50% {
    -webkit-transform: translateY(-10.5vw);
            transform: translateY(-10.5vw); }
  66.6666666667% {
    -webkit-transform: translateY(-14vw);
            transform: translateY(-14vw); }
  83.3333333333% {
    -webkit-transform: translateY(-17.5vw);
            transform: translateY(-17.5vw); } }

@-webkit-keyframes seconds-ones {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  10% {
    -webkit-transform: translateY(-3.5vw);
            transform: translateY(-3.5vw); }
  20% {
    -webkit-transform: translateY(-7vw);
            transform: translateY(-7vw); }
  30% {
    -webkit-transform: translateY(-10.5vw);
            transform: translateY(-10.5vw); }
  40% {
    -webkit-transform: translateY(-14vw);
            transform: translateY(-14vw); }
  50% {
    -webkit-transform: translateY(-17.5vw);
            transform: translateY(-17.5vw); }
  60% {
    -webkit-transform: translateY(-21vw);
            transform: translateY(-21vw); }
  70% {
    -webkit-transform: translateY(-24.5vw);
            transform: translateY(-24.5vw); }
  80% {
    -webkit-transform: translateY(-28vw);
            transform: translateY(-28vw); }
  90% {
    -webkit-transform: translateY(-31.5vw);
            transform: translateY(-31.5vw); } }

@keyframes seconds-ones {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  10% {
    -webkit-transform: translateY(-3.5vw);
            transform: translateY(-3.5vw); }
  20% {
    -webkit-transform: translateY(-7vw);
            transform: translateY(-7vw); }
  30% {
    -webkit-transform: translateY(-10.5vw);
            transform: translateY(-10.5vw); }
  40% {
    -webkit-transform: translateY(-14vw);
            transform: translateY(-14vw); }
  50% {
    -webkit-transform: translateY(-17.5vw);
            transform: translateY(-17.5vw); }
  60% {
    -webkit-transform: translateY(-21vw);
            transform: translateY(-21vw); }
  70% {
    -webkit-transform: translateY(-24.5vw);
            transform: translateY(-24.5vw); }
  80% {
    -webkit-transform: translateY(-28vw);
            transform: translateY(-28vw); }
  90% {
    -webkit-transform: translateY(-31.5vw);
            transform: translateY(-31.5vw); } }

.digit {
  display: block;
  font-size: 3.5vw;
  color: #fff;
  height: 3.5vw;
  line-height: 1; }

.time-part-wrapper {
  margin-right: 1vw;
  position: relative;
  height: 3.5vw;
  white-space: nowrap; }
  @media (max-width: 479px) {
    .time-part-wrapper {
      margin-right: 1.5vw; } }
  .time-part-wrapper:not(:last-child):after {
    content: ":";
    display: block;
    position: absolute;
    top: 1.2vw;
    right: -0.7vw;
    color: #fff;
    font-size: 2.5vw;
    line-height: 0; }
    @media (max-width: 767px) {
      .time-part-wrapper:not(:last-child):after {
        top: 1.3vw; } }
    @media (max-width: 479px) {
      .time-part-wrapper:not(:last-child):after {
        font-size: 3.5vw;
        right: -1.1vw;
        top: 1.6vw; } }
  .time-part-wrapper:last-child {
    margin: 0; }

.count-up {
  position: absolute;
  left: -0.2vw;
  right: -2.5vw;
  top: -1.4vw;
  bottom: -1.5vw;
  background: #e50033;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 1023px) {
    .count-up {
      bottom: -2vw;
      right: -1.5vw; } }
  @media (max-width: 767px) {
    .count-up {
      top: -1vw;
      left: -1vw;
      right: -1vw;
      bottom: -1vw; } }
  .count-up .time-part {
    text-align: center;
    height: 3.5vw;
    overflow: hidden;
    display: inline-block;
    margin-left: -0.4vw;
    box-sizing: border-box; }
  .count-up.active .digit-wrapper {
    -webkit-animation-timing-function: cubic-bezier(1, 0, 1, 0);
            animation-timing-function: cubic-bezier(1, 0, 1, 0); }
  .count-up.active .minutes.tens .digit-wrapper {
    -webkit-animation-name: minutes-tens;
            animation-name: minutes-tens;
    -webkit-animation-duration: 3600s;
            animation-duration: 3600s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1; }
  .count-up.active .minutes.ones .digit-wrapper {
    -webkit-animation-name: minutes-ones;
            animation-name: minutes-ones;
    -webkit-animation-duration: 600s;
            animation-duration: 600s;
    -webkit-animation-iteration-count: 6;
            animation-iteration-count: 6; }
  .count-up.active .seconds.tens .digit-wrapper {
    -webkit-animation-name: seconds-tens;
            animation-name: seconds-tens;
    -webkit-animation-duration: 60s;
            animation-duration: 60s;
    -webkit-animation-iteration-count: 60;
            animation-iteration-count: 60; }
  .count-up.active .seconds.ones .digit-wrapper {
    -webkit-animation-name: seconds-ones;
            animation-name: seconds-ones;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-iteration-count: 360;
            animation-iteration-count: 360; }

#main {
  padding: 19.1vh 0 50px;
  min-height: 100vh;
  position: relative; }
  @media (max-width: 1199px) {
    #main {
      padding: 25vh 0 50px; } }
  @media (max-width: 1023px) {
    #main {
      padding: 20vh 0 50px; } }
  @media (max-width: 767px) {
    #main {
      padding: 100px 0 50px; } }
  #main .container {
    position: relative;
    z-index: 1; }
  #main .main-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; }
    @media (max-width: 1199px) {
      #main .main-img {
        left: -150px;
        right: -150px; } }
    @media (max-width: 767px) {
      #main .main-img {
        left: -50px;
        right: -50px; } }
    #main .main-img img {
      width: 100%; }

.steps-holder {
  text-align: center; }

h1 {
  margin: 0 0 2.3vw;
  font-size: 3.13vw; }
  @media (max-width: 1023px) {
    h1 {
      font-size: 4.5vw; } }
  @media (max-width: 767px) {
    h1 {
      font-size: 23px;
      line-height: 1.2; } }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  14% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  42% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  14% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  42% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.steps-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 1023px) {
    .steps-list {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .steps-list .item {
    width: calc(13.6vw - 1.2vw);
    padding: 1.4vw;
    height: 12.5vw;
    position: relative;
    z-index: 2;
    text-align: center; }
    @media (max-width: 1199px) {
      .steps-list .item {
        width: calc(16.5vw - 1.2vw);
        height: 15vw; } }
    @media (max-width: 1023px) {
      .steps-list .item {
        width: calc(33vw - 3vw);
        height: 27vw;
        margin: 0 1.2vw 2.4vw; } }
    @media (max-width: 767px) {
      .steps-list .item {
        width: calc(46vw - 3vw);
        margin: 0 1.5vw 3vw;
        height: 35vw; } }
    .steps-list .item.item-1 {
      background: #aea0e8; }
      .steps-list .item.item-1 .current-step {
        background: #e50033 url(images/illustration-1.png) no-repeat 0 100%/100% auto; }
      .steps-list .item.item-1 .completed-step {
        background: #aea0e8 url(images/illustration-6.png) no-repeat 0 100%/100% auto; }
        .steps-list .item.item-1 .completed-step .title {
          color: #9485d1; }
    .steps-list .item.item-2 {
      background: #ddaf66; }
      .steps-list .item.item-2 .current-step {
        background: #e50033 url(images/illustration-2.png) no-repeat 0 100%/100% auto; }
      .steps-list .item.item-2 .completed-step {
        background: #efd7b6 url(images/illustration-7.png) no-repeat 0 100%/100% auto; }
        .steps-list .item.item-2 .completed-step .title {
          color: #ddaf66; }
    .steps-list .item.item-3 {
      background: #66a39f; }
      .steps-list .item.item-3 .current-step {
        background: #e50033 url(images/illustration-3.png) no-repeat 0 100%/100% auto; }
      .steps-list .item.item-3 .completed-step {
        background: #a4c6c3 url(images/illustration-8.png) no-repeat 0 100%/100% auto; }
        .steps-list .item.item-3 .completed-step .title {
          color: #66a39f; }
    .steps-list .item.item-4 {
      background: #5e80b9; }
      .steps-list .item.item-4 .current-step {
        background: #e50033 url(images/illustration-4.png) no-repeat 0 100%/100% auto; }
      .steps-list .item.item-4 .completed-step {
        background: #8ca7d4 url(images/illustration-9.png) no-repeat 0 100%/100% auto; }
        .steps-list .item.item-4 .completed-step .title {
          color: #5e80b9; }
    .steps-list .item.item-5 {
      background: #c5946f; }
      .steps-list .item.item-5 .current-step {
        background: #e50033 url(images/illustration-5.png) no-repeat 0 100%/100% auto; }
      .steps-list .item.item-5 .completed-step {
        background: #d9bb9d url(images/illustration-10.png) no-repeat 0 100%/100% auto; }
        .steps-list .item.item-5 .completed-step .title {
          color: #c5946f; }
    .steps-list .item.active {
      -webkit-animation: bounce 3s infinite ease-in-out;
              animation: bounce 3s infinite ease-in-out; }
      .steps-list .item.active:before {
        position: absolute;
        content: '';
        background: #a1988d;
        top: 0.8vw;
        right: 0.8vw;
        bottom: -0.8vw;
        left: -0.8vw;
        z-index: 1; }
        @media (max-width: 767px) {
          .steps-list .item.active:before {
            top: 1.5vw;
            right: 1.5vw;
            bottom: -1.5vw;
            left: -1.5vw; } }
      .steps-list .item.active .current-step {
        display: block; }
    .steps-list .item .lock-holder {
      color: #fff;
      padding: 2vw 0 0; }
      @media (max-width: 1023px) {
        .steps-list .item .lock-holder {
          padding: 4vw 0 0; } }
      @media (max-width: 767px) {
        .steps-list .item .lock-holder {
          padding: 6vw 0 0; } }
      .steps-list .item .lock-holder .ico {
        width: 2.2vw;
        opacity: 0.3;
        margin: 0 auto 0.9vw; }
        @media (max-width: 1199px) {
          .steps-list .item .lock-holder .ico {
            width: 2.8vw; } }
        @media (max-width: 1023px) {
          .steps-list .item .lock-holder .ico {
            width: 5vw; } }
        @media (max-width: 767px) {
          .steps-list .item .lock-holder .ico {
            width: 6.5vw; } }
        .steps-list .item .lock-holder .ico img {
          width: 100%; }
      .steps-list .item .lock-holder strong {
        display: block;
        font-size: 1.1vw;
        line-height: 1.1vw;
        font-weight: 900; }
        @media (max-width: 1199px) {
          .steps-list .item .lock-holder strong {
            font-size: 1.5vw;
            line-height: 1; } }
        @media (max-width: 1023px) {
          .steps-list .item .lock-holder strong {
            font-size: 2.5vw; } }
        @media (max-width: 767px) {
          .steps-list .item .lock-holder strong {
            font-size: 4vw; } }
        .steps-list .item .lock-holder strong span {
          display: block;
          font-weight: 500; }
    .steps-list .item .current-step {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #e50033;
      z-index: 1;
      color: #fff;
      text-align: center;
      padding: 1.2vw;
      display: none; }
      .active .steps-list .item .current-step {
        display: block; }
      @media (max-width: 767px) {
        .steps-list .item .current-step {
          padding: 3vw; } }
      .steps-list .item .current-step .title {
        display: block;
        font-size: 1.6vw;
        line-height: 1.8vw;
        letter-spacing: 0.5px;
        margin: 0 0 -1px; }
        @media (max-width: 1023px) {
          .steps-list .item .current-step .title {
            font-size: 3vw;
            line-height: 1;
            margin: 0; } }
        @media (max-width: 767px) {
          .steps-list .item .current-step .title {
            font-size: 4vw; } }
      .steps-list .item .current-step .sub-title {
        display: block;
        font-size: 1.1vw;
        line-height: 1.1vw; }
        @media (max-width: 1023px) {
          .steps-list .item .current-step .sub-title {
            font-size: 2vw;
            line-height: 1; } }
        @media (max-width: 767px) {
          .steps-list .item .current-step .sub-title {
            font-size: 3vw; } }
      .steps-list .item .current-step .more {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 1.3vw;
        line-height: 1.5vw;
        color: #fff;
        font-weight: 900;
        padding: 0.6vw;
        text-decoration: none; }
        @media (max-width: 1023px) {
          .steps-list .item .current-step .more {
            font-size: 2.5vw;
            line-height: 1;
            padding: 1vw; } }
        @media (max-width: 767px) {
          .steps-list .item .current-step .more {
            font-size: 4vw;
            padding: 2vw; } }
        .steps-list .item .current-step .more i {
          font-size: 1.1vw;
          line-height: inherit;
          margin: 0 0 0 0.4vw;
          position: relative;
          left: 0;
          -webkit-transition: left 0.3s;
          transition: left 0.3s; }
          @media (max-width: 1023px) {
            .steps-list .item .current-step .more i {
              font-size: 2.1vw; } }
          @media (max-width: 767px) {
            .steps-list .item .current-step .more i {
              font-size: 3.3vw; } }
        .steps-list .item .current-step .more:hover i {
          left: 4px; }
      .steps-list .item .current-step .link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    .steps-list .item.completed .completed-step {
      display: block; }
    .steps-list .item .completed-step {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #e50033;
      z-index: 1;
      color: #fff;
      text-align: center;
      padding: 1.2vw;
      display: none; }
      @media (max-width: 767px) {
        .steps-list .item .completed-step {
          padding: 3vw; } }
      .active .steps-list .item .completed-step {
        display: block; }
      .steps-list .item .completed-step .title {
        display: block;
        font-size: 1.8vw;
        line-height: 1.8vw;
        letter-spacing: 0.5px; }
        @media (max-width: 1023px) {
          .steps-list .item .completed-step .title {
            font-size: 3vw;
            line-height: 1;
            margin: 0; } }
        @media (max-width: 767px) {
          .steps-list .item .completed-step .title {
            font-size: 4vw; } }
      .steps-list .item .completed-step .sub-title {
        display: block;
        font-size: 16px;
        line-height: 1; }
        @media (max-width: 1023px) {
          .steps-list .item .completed-step .sub-title {
            font-size: 2vw;
            line-height: 1; } }
        @media (max-width: 767px) {
          .steps-list .item .completed-step .sub-title {
            font-size: 3vw; } }
      .steps-list .item .completed-step .more {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 1.3vw;
        line-height: 1.5vw;
        color: #fff;
        font-weight: 900;
        padding: 0.6vw 1vw 0.6vw 0.3vw;
        text-decoration: none;
        letter-spacing: 1px;
        opacity: 0.5; }
        @media (max-width: 1023px) {
          .steps-list .item .completed-step .more {
            font-size: 2.5vw;
            line-height: 1;
            padding: 1vw; } }
        @media (max-width: 767px) {
          .steps-list .item .completed-step .more {
            font-size: 4vw;
            padding: 2vw; } }
        .steps-list .item .completed-step .more i {
          font-size: 1.1vw;
          line-height: inherit;
          margin: 0;
          position: relative;
          left: 0;
          -webkit-transition: left 0.3s;
          transition: left 0.3s; }
          @media (max-width: 1023px) {
            .steps-list .item .completed-step .more i {
              font-size: 2.1vw; } }
          @media (max-width: 767px) {
            .steps-list .item .completed-step .more i {
              font-size: 3.3vw; } }
        .steps-list .item .completed-step .more img {
          width: 1.6vw; }
          @media (max-width: 1023px) {
            .steps-list .item .completed-step .more img {
              width: 2.6vw; } }
          @media (max-width: 767px) {
            .steps-list .item .completed-step .more img {
              width: 4vw; } }
        .steps-list .item .completed-step .more:hover i {
          left: 4px; }
      .steps-list .item .completed-step .link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }

#footer {
  background: #950600;
  color: #fff;
  font-size: 1.2vw;
  line-height: 1.2vw;
  font-weight: 900;
  padding: 0.9vw 0;
  letter-spacing: 0.8px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10; }
  @media (max-width: 1199px) {
    #footer {
      font-size: 1.5vw;
      line-height: 1;
      padding: 1vw 0; } }
  @media (max-width: 1023px) {
    #footer {
      padding: 1.5vw 0;
      font-size: 2vw; } }
  @media (max-width: 767px) {
    #footer {
      padding: 10px 0;
      font-size: 13px; } }
  #footer .container {
    max-width: 100%;
    padding: 0 1vw; }
    @media (max-width: 767px) {
      #footer .container {
        padding: 0 10px; } }
  #footer .line-box {
    width: 100%; }
  #footer .line-box .mask {
    overflow: hidden; }
  #footer .line-box .line {
    width: 99999px;
    float: left;
    white-space: nowrap; }
  #footer p {
    margin: 0 10px 0 0;
    float: none !important;
    display: inline-block;
    vertical-align: top; }

.intro-holder {
  text-align: center; }
  .intro-holder h1 {
    margin: 0 0 0.5vw; }
  .intro-holder p {
    font-size: 1.6vw;
    line-height: 2.25vw;
    margin: 0 0 1.3vw; }
    @media (max-width: 1199px) {
      .intro-holder p {
        font-size: 2vw; } }
    @media (max-width: 1023px) {
      .intro-holder p {
        font-size: 2.5vw;
        line-height: 1.3; } }
    @media (max-width: 767px) {
      .intro-holder p {
        font-size: 16px;
        margin: 0 0 15px; } }
    @media (max-width: 767px) {
      .intro-holder p br {
        display: none; } }
  .intro-holder .intro-ico {
    width: 7.5vw;
    margin: 0 auto 2vw; }
    @media (max-width: 1199px) {
      .intro-holder .intro-ico {
        width: 10vw; } }
    @media (max-width: 767px) {
      .intro-holder .intro-ico {
        width: 70px;
        margin: 0 auto 15px; } }
    .intro-holder .intro-ico img {
      width: 100%; }

.btn {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.4vw;
  line-height: 1.2;
  padding: 0.4vw 1.2vw;
  letter-spacing: 0.25px;
  border: none;
  -webkit-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s; }
  @media (max-width: 1199px) {
    .btn {
      padding: 0.7vw 1.2vw; } }
  @media (max-width: 1023px) {
    .btn {
      font-size: 2vw; } }
  @media (max-width: 767px) {
    .btn {
      font-size: 17px;
      line-height: 1.2;
      padding: 5px 10px; } }
  .btn i {
    margin: 0 0 0 0.6vw;
    font-size: 1.1vw; }
    @media (max-width: 1023px) {
      .btn i {
        font-size: 1.6vw; } }
    @media (max-width: 767px) {
      .btn i {
        font-size: 15px; } }
  .btn.btn-red {
    background: #e50033; }
    .btn.btn-red:hover {
      background: #b7bac1; }

.login-holder {
  margin: -11px 0 0;
  text-align: center; }
  .login-holder .container {
    max-width: 60vw; }
    @media (max-width: 1199px) {
      .login-holder .container {
        max-width: 80vw; } }
    @media (max-width: 1023px) {
      .login-holder .container {
        max-width: 100%; } }
  .login-holder h1 {
    margin: 0; }
  .login-holder .sub-title {
    display: block;
    color: #b7bac1;
    font-size: 2.45vw;
    line-height: 1.2; }
    @media (max-width: 1023px) {
      .login-holder .sub-title {
        font-size: 3vw; } }
    @media (max-width: 767px) {
      .login-holder .sub-title {
        font-size: 18px; } }
  .login-holder .row {
    margin: 0 0 0.7vw; }
  .login-holder form {
    padding: 2.7vw 0 0; }
    @media (max-width: 767px) {
      .login-holder form {
        padding: 20px 0 0; } }
  .login-holder input[type="text"],
  .login-holder input[type="email"],
  .login-holder input[type="password"] {
    float: right;
    width: 48.6%;
    padding: 0.7vw 1.2vw;
    font-size: 1.1vw;
    line-height: 1.3;
    color: #fff;
    clear: right;
    margin: 0 8.4vw 0.6vw 0; }
    .login-holder input[type="text"]::-webkit-input-placeholder,
    .login-holder input[type="email"]::-webkit-input-placeholder,
    .login-holder input[type="password"]::-webkit-input-placeholder {
      color: #fff; }
    .login-holder input[type="text"]::-moz-placeholder,
    .login-holder input[type="email"]::-moz-placeholder,
    .login-holder input[type="password"]::-moz-placeholder {
      opacity: 1;
      color: #fff; }
    .login-holder input[type="text"]:-moz-placeholder,
    .login-holder input[type="email"]:-moz-placeholder,
    .login-holder input[type="password"]:-moz-placeholder {
      color: #fff; }
    .login-holder input[type="text"]:-ms-input-placeholder,
    .login-holder input[type="email"]:-ms-input-placeholder,
    .login-holder input[type="password"]:-ms-input-placeholder {
      color: #fff; }
    .login-holder input[type="text"].placeholder,
    .login-holder input[type="email"].placeholder,
    .login-holder input[type="password"].placeholder {
      color: #fff; }
    @media (max-width: 1199px) {
      .login-holder input[type="text"],
      .login-holder input[type="email"],
      .login-holder input[type="password"] {
        font-size: 1.4vw; } }
    @media (max-width: 1023px) {
      .login-holder input[type="text"],
      .login-holder input[type="email"],
      .login-holder input[type="password"] {
        font-size: 2vw; } }
    @media (max-width: 767px) {
      .login-holder input[type="text"],
      .login-holder input[type="email"],
      .login-holder input[type="password"] {
        float: none;
        width: 100%;
        font-size: 18px;
        margin: 0 0 10px;
        padding: 7px; } }
  .login-holder label {
    float: left;
    text-align: right;
    padding: 0.1vw 1.9vw 0 0;
    width: 36.7%;
    font-weight: 900;
    font-size: 2.3vw;
    line-height: 1.2;
    color: #e50033; }
    @media (max-width: 1023px) {
      .login-holder label {
        font-size: 3vw; } }
    @media (max-width: 767px) {
      .login-holder label {
        float: none;
        display: block;
        width: 100%;
        padding: 0 0 5px;
        font-size: 15px;
        text-align: left; } }
  .login-holder .link {
    float: right;
    clear: right;
    width: 48.6%;
    margin: -0.15vw 8.4vw 0.95vw 0;
    color: #333;
    text-align: right;
    font-size: 0.98vw;
    line-height: 1.2;
    font-weight: 500; }
    @media (max-width: 1023px) {
      .login-holder .link {
        font-size: 1.5vw;
        margin: 1vw 8.4vw 0.95vw 0; } }
    @media (max-width: 767px) {
      .login-holder .link {
        font-size: 13px;
        display: block;
        width: 100%;
        margin: 0 0 10px; } }
    .login-holder .link:hover {
      text-decoration: none; }
  .login-holder button {
    float: right;
    margin: 0.2vw 8.4vw 0 0;
    padding: 0.4vw 0.7vw; }
    @media (max-width: 767px) {
      .login-holder button {
        margin: 0;
        padding: 5px 10px; } }

.question-holder {
  padding: 0.1vw 0 0; }
  .question-holder .top-holder {
    padding: 0 0 0.4vw; }
    @media (max-width: 1023px) {
      .question-holder .top-holder {
        padding: 0 0 5vw; } }
    .question-holder .top-holder .container {
      max-width: 60.2vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 1199px) {
        .question-holder .top-holder .container {
          max-width: 83.2vw; } }
      @media (max-width: 1023px) {
        .question-holder .top-holder .container {
          max-width: 100%; } }
    .question-holder .top-holder .question-number {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 3.3vw;
      height: 2.9vw;
      color: #fff;
      background: url(images/bg-number.png) no-repeat 50% 50%/cover;
      font-weight: bold;
      font-size: 1.2vw;
      line-height: 1.2;
      margin: 0 1.2vw 0 0; }
      @media (max-width: 1023px) {
        .question-holder .top-holder .question-number {
          width: 9vw;
          height: 8vw;
          font-size: 3.5vw;
          margin: 0 3vw 0 0; } }
    .question-holder .top-holder h1 {
      margin: 0; }
  .question-holder .text-holder {
    font-size: 1.6vw;
    line-height: 2.2vw;
    padding: 0 0 0.9vw; }
    @media (max-width: 1023px) {
      .question-holder .text-holder {
        font-size: 2vw;
        line-height: 1.3; } }
    @media (max-width: 767px) {
      .question-holder .text-holder {
        font-size: 4vw; } }
    .question-holder .text-holder .container {
      max-width: 51.1vw; }
      @media (max-width: 1199px) {
        .question-holder .text-holder .container {
          max-width: 74vw; } }
      @media (max-width: 1023px) {
        .question-holder .text-holder .container {
          max-width: 100%; } }
  .question-holder .form-holder {
    text-align: center; }
    .question-holder .form-holder .container {
      max-width: 61.4vw; }
      @media (max-width: 1199px) {
        .question-holder .form-holder .container {
          max-width: 74vw; } }
      @media (max-width: 1023px) {
        .question-holder .form-holder .container {
          max-width: 100%; } }
    .question-holder .form-holder button {
      text-transform: uppercase; }

.round-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.1vw;
  line-height: 1.6vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 1023px) {
    .round-holder {
      font-size: 1.5vw;
      line-height: 1.3; } }
  @media (max-width: 767px) {
    .round-holder {
      font-size: 3vw; } }
  .round-holder .col {
    width: 33.33%;
    margin: 0 0 3.9vw; }
    @media (max-width: 767px) {
      .round-holder .col {
        width: 50%;
        margin: 0 0 5vw; } }
  .round-holder input[type="radio"],
  .round-holder input[type="checkbox"] {
    position: absolute;
    left: -9999px; }
  .round-holder label {
    display: block;
    background: #e8e8e8;
    width: 15.2vw;
    height: 15.2vw;
    border-radius: 100%;
    margin: 0 auto;
    padding: 1.2vw;
    -webkit-transition: background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;
    position: relative;
    cursor: pointer; }
    @media (max-width: 1023px) {
      .round-holder label {
        width: 20vw;
        height: 20vw;
        padding: 2vw; } }
    @media (max-width: 767px) {
      .round-holder label {
        width: 40vw;
        height: 40vw;
        padding: 4vw; } }
    .round-holder label:before {
      position: absolute;
      content: '';
      background: #a1988d;
      border-radius: 100%;
      top: 1vw;
      right: 0.6vw;
      bottom: -1vw;
      left: -0.6vw;
      z-index: -1;
      opacity: 0;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s; }
    .round-holder label strong {
      display: block;
      color: #e50033;
      font-size: 3.1vw;
      line-height: 1;
      margin: 0 0 0.7vw;
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
      @media (max-width: 1023px) {
        .round-holder label strong {
          font-size: 4vw; } }
      @media (max-width: 767px) {
        .round-holder label strong {
          font-size: 6vw; } }
    .round-holder label span {
      display: block; }
  .round-holder input[type="radio"]:checked + label,
  .round-holder input[type="checkbox"]:checked + label {
    background: #e50033;
    color: #fff; }
    .round-holder input[type="radio"]:checked + label strong,
    .round-holder input[type="checkbox"]:checked + label strong {
      color: #fff; }
    .round-holder input[type="radio"]:checked + label:before,
    .round-holder input[type="checkbox"]:checked + label:before {
      opacity: 1; }

.answer-holder {
  font-size: 1.6vw;
  line-height: 2vw;
  padding: 0.4vw 0 0.9vw;
  color: grey; }
  @media (max-width: 767px) {
    .answer-holder {
      font-size: 4vw;
      line-height: 1.3; } }
  .answer-holder .container {
    max-width: 58.6vw; }
    @media (max-width: 1199px) {
      .answer-holder .container {
        max-width: 74vw; } }
    @media (max-width: 767px) {
      .answer-holder .container {
        max-width: 100%; } }
  .answer-holder .frame {
    padding: 0 0 0 3.9vw; }
    @media (max-width: 1199px) {
      .answer-holder .frame {
        padding: 0; } }
  .answer-holder h2 {
    margin: 0 0 0.3vw;
    color: grey;
    font-size: 2.45vw;
    line-height: 1.2; }
    @media (max-width: 767px) {
      .answer-holder h2 {
        font-size: 5vw; } }
  .answer-holder p {
    margin: 0 0 1.4vw; }
  .answer-holder img {
    width: 100%; }
  .answer-holder .img-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -0.6vw; }
    .answer-holder .img-block .col {
      padding: 0 0.6vw 1.2vw;
      width: 33%; }
  .answer-holder .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 -0.6vw; }
    .answer-holder .gallery .gallery-item {
      padding: 0 0.6vw 1.2vw;
      width: 33%;
      margin: 0 !important;
      float: none !important;
      border: none !important; }
  .answer-holder .btn-holder {
    text-align: center;
    padding: 1.8vw 3.5vw 0 0; }
    .answer-holder .btn-holder .btn {
      text-transform: uppercase; }

.corner-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.9vw 0 3vw;
  margin: 0 -0.8vw 0 0.1vw; }
  @media (max-width: 767px) {
    .corner-holder {
      margin: 0; } }
  .corner-holder .col {
    width: 25%;
    margin: 0 0 2vw;
    padding: 0 1vw; }
    @media (max-width: 767px) {
      .corner-holder .col {
        width: 50%; } }
  .corner-holder input[type="radio"],
  .corner-holder input[type="checkbox"] {
    position: absolute;
    left: -9999px; }
  .corner-holder label {
    display: block;
    background: #e8e8e8;
    padding: 0.3vw 0.6vw 0.6vw;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    position: relative;
    cursor: pointer; }
    @media (max-width: 1023px) {
      .corner-holder label {
        padding: 0.5vw 1vw 1vw; } }
    @media (max-width: 767px) {
      .corner-holder label {
        padding: 1vw 2vw 2vw; } }
    .corner-holder label:before {
      position: absolute;
      content: '';
      background: #a1988d;
      top: 0.6vw;
      right: 0.6vw;
      bottom: -0.6vw;
      left: -0.6vw;
      z-index: -1;
      opacity: 0;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s; }
    .corner-holder label strong {
      display: block;
      color: #e50033;
      font-size: 3.3vw;
      line-height: 1;
      margin: 0 0 0.3vw;
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
      @media (max-width: 767px) {
        .corner-holder label strong {
          font-size: 5vw; } }
    .corner-holder label img {
      width: 100%; }
  .corner-holder input[type="radio"]:checked + label,
  .corner-holder input[type="checkbox"]:checked + label {
    background: #e50033; }
    .corner-holder input[type="radio"]:checked + label strong,
    .corner-holder input[type="checkbox"]:checked + label strong {
      color: #fff; }
    .corner-holder input[type="radio"]:checked + label:before,
    .corner-holder input[type="checkbox"]:checked + label:before {
      opacity: 1; }

.add-corner-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.9vw 0 3vw;
  margin: 0 -0.8vw 0 0.1vw; }
  @media (max-width: 767px) {
    .add-corner-holder {
      margin: 0; } }
  .add-corner-holder .col {
    width: 25%;
    margin: 0 0 1.6vw;
    padding: 0 1vw; }
    @media (max-width: 767px) {
      .add-corner-holder .col {
        width: 50%; } }
  .add-corner-holder input[type="radio"],
  .add-corner-holder input[type="checkbox"] {
    position: absolute;
    left: -9999px; }
  .add-corner-holder label {
    display: block;
    background: #e8e8e8;
    padding: 0.9vw 0.6vw 1.1vw;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    position: relative;
    height: 100%; }
    @media (max-width: 1023px) {
      .add-corner-holder label {
        padding: 0.5vw 1vw 1vw; } }
    @media (max-width: 767px) {
      .add-corner-holder label {
        padding: 1vw 2vw 2vw; } }
    .add-corner-holder label:before {
      position: absolute;
      content: '';
      background: #a1988d;
      top: 0.6vw;
      right: 0.6vw;
      bottom: -0.6vw;
      left: -0.6vw;
      z-index: -1;
      opacity: 0;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s; }
    .add-corner-holder label .title {
      display: block;
      color: #e50033;
      font-size: 1.8vw;
      line-height: 1;
      margin: 0 0 0.6vw;
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
      @media (max-width: 767px) {
        .add-corner-holder label .title {
          font-size: 5vw; } }
    .add-corner-holder label .sub-title {
      display: block;
      text-align: left;
      font-size: 1.1vw;
      line-height: 1;
      margin: 0 0 0.8vw; }
      @media (max-width: 1023px) {
        .add-corner-holder label .sub-title {
          font-size: 2vw; } }
      @media (max-width: 767px) {
        .add-corner-holder label .sub-title {
          font-size: 4vw; } }
    .add-corner-holder label .item-info {
      display: block;
      text-align: left;
      font-size: 1.1vw;
      line-height: 0.9; }
      @media (max-width: 1023px) {
        .add-corner-holder label .item-info {
          font-size: 2vw; } }
      @media (max-width: 767px) {
        .add-corner-holder label .item-info {
          font-size: 4vw; } }
    .add-corner-holder label img {
      width: 100%;
      margin: 0 0 0.7vw; }
  .add-corner-holder input[type="radio"]:checked + label,
  .add-corner-holder input[type="checkbox"]:checked + label {
    background: #e50033;
    color: #fff; }
    .add-corner-holder input[type="radio"]:checked + label strong,
    .add-corner-holder input[type="checkbox"]:checked + label strong {
      color: #fff; }
    .add-corner-holder input[type="radio"]:checked + label:before,
    .add-corner-holder input[type="checkbox"]:checked + label:before {
      opacity: 1; }

.line-holder {
  margin: -7px 0 0;
  padding: 0 0.7vw 1.1vw 5vw;
  text-align: left; }
  @media (max-width: 1199px) {
    .line-holder {
      margin: 0 0 3vw;
      padding: 0; } }
  .line-holder .row {
    margin: 0 0 0.9vw; }
  .line-holder input[type="radio"],
  .line-holder input[type="checkbox"] {
    position: absolute;
    left: -9999px; }
  .line-holder label {
    background: #e8e8e8;
    padding: 0.3vw 1.2vw;
    font-size: 1.08vw;
    line-height: 1.35vw;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    cursor: pointer; }
    @media (max-width: 1199px) {
      .line-holder label {
        font-size: 1.5vw;
        line-height: 1.3;
        padding: 1vw; } }
    @media (max-width: 1023px) {
      .line-holder label {
        font-size: 2vw; } }
    @media (max-width: 767px) {
      .line-holder label {
        font-size: 3.5vw;
        padding: 1.5vw; } }
    .line-holder label:before {
      position: absolute;
      content: '';
      background: #a1988d;
      top: 0.5vw;
      right: 0.5vw;
      bottom: -0.5vw;
      left: -0.5vw;
      z-index: -1;
      opacity: 0;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s; }
    .line-holder label strong {
      color: #e50033;
      float: left;
      font-size: 3.2vw;
      line-height: 1;
      margin: 0 2.3vw 0 0; }
      @media (max-width: 1023px) {
        .line-holder label strong {
          font-size: 4vw; } }
      @media (max-width: 767px) {
        .line-holder label strong {
          font-size: 6vw; } }
    .line-holder label p {
      margin: 0; }
  .line-holder input[type="radio"]:checked + label,
  .line-holder input[type="checkbox"]:checked + label {
    background: #e50033; }
    .line-holder input[type="radio"]:checked + label strong,
    .line-holder input[type="radio"]:checked + label p,
    .line-holder input[type="checkbox"]:checked + label strong,
    .line-holder input[type="checkbox"]:checked + label p {
      color: #fff; }
    .line-holder input[type="radio"]:checked + label:before,
    .line-holder input[type="checkbox"]:checked + label:before {
      opacity: 1; }

.results-holder {
  text-align: center; }
  .results-holder h1 {
    margin: 0 0 1vw; }
  .results-holder .total-info {
    background: #e50033;
    color: #fff;
    position: relative;
    width: 19vw;
    margin: 0 auto 2.4vw;
    font-size: 2.4vw;
    line-height: 1;
    padding: 1.8vw 0.5vw; }
    @media (max-width: 767px) {
      .results-holder .total-info {
        width: 50vw;
        padding: 4vw 2vw;
        font-size: 5vw; } }
    .results-holder .total-info:before {
      position: absolute;
      content: '';
      background: #a1988d;
      top: 0.5vw;
      right: 0.5vw;
      bottom: -0.5vw;
      left: -0.5vw;
      z-index: -1;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s; }
  .results-holder .results-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -0.7vw 0.9vw; }
    .results-holder .results-list .col {
      width: 20%;
      padding: 0 0.7vw;
      margin: 0 0 2.6vw; }
      @media (max-width: 767px) {
        .results-holder .results-list .col {
          width: 50%; } }
    .results-holder .results-list .holder {
      min-height: 5.7vw;
      padding: 1vw;
      text-transform: uppercase;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 1023px) {
        .results-holder .results-list .holder {
          min-height: 8vw; } }
      @media (max-width: 767px) {
        .results-holder .results-list .holder {
          min-height: 15vw; } }
    .results-holder .results-list .ico {
      width: 2vw;
      opacity: 0.4;
      display: none; }
      @media (max-width: 1023px) {
        .results-holder .results-list .ico {
          width: 3vw; } }
      @media (max-width: 767px) {
        .results-holder .results-list .ico {
          width: 5vw; } }
      .results-holder .results-list .ico:only-child {
        display: block; }
    .results-holder .results-list strong {
      display: block;
      font-size: 1.74vw;
      line-height: 1;
      margin: 0 0 0.3vw;
      font-weight: 900; }
      @media (max-width: 1023px) {
        .results-holder .results-list strong {
          font-size: 2.2vw; } }
      @media (max-width: 767px) {
        .results-holder .results-list strong {
          font-size: 5vw; } }
    .results-holder .results-list span {
      display: block;
      font-size: 1.67vw;
      line-height: 1;
      font-weight: 500; }
      @media (max-width: 1023px) {
        .results-holder .results-list span {
          font-size: 2vw; } }
      @media (max-width: 767px) {
        .results-holder .results-list span {
          font-size: 4vw; } }
    .results-holder .results-list .item-1 {
      background: #9485d1;
      color: #9485d1; }
      .results-holder .results-list .item-1.active {
        background: #b7aaeb; }
    .results-holder .results-list .item-2 {
      background: #ddaf66;
      color: #ddaf66; }
      .results-holder .results-list .item-2.active {
        background: #edd2ad; }
    .results-holder .results-list .item-3 {
      background: #66a39f;
      color: #66a39f; }
      .results-holder .results-list .item-3.active {
        background: #99bfbc; }
    .results-holder .results-list .item-4 {
      background: #5e80b9;
      color: #5e80b9; }
      .results-holder .results-list .item-4.active {
        background: #8da7d4; }
    .results-holder .results-list .item-5 {
      background: #c5946f;
      color: #c59470; }
      .results-holder .results-list .item-5.active {
        background: #d9bb9e; }
  .results-holder .text-holder {
    color: #b7bac1;
    font-size: 1.67vw;
    line-height: 1.1;
    padding: 0 0 12.5vw;
    margin: 0 auto;
    max-width: 50vw; }
    @media (max-width: 1199px) {
      .results-holder .text-holder {
        font-size: 2vw;
        line-height: 1.2;
        max-width: 60vw; } }
    @media (max-width: 1023px) {
      .results-holder .text-holder {
        font-size: 2.5vw;
        max-width: 70vw; } }
    @media (max-width: 767px) {
      .results-holder .text-holder {
        max-width: 100%;
        font-size: 4.5vw;
        margin: 0; } }
    .results-holder .text-holder .sub-title {
      display: block; }
    .results-holder .text-holder p {
      margin: 0 0 2.8vw; }
    .results-holder .text-holder h2 {
      margin: 0 0 2.5vw;
      font-size: 2.45vw;
      line-height: 2.6vw; }
      @media (max-width: 1199px) {
        .results-holder .text-holder h2 {
          font-size: 3vw;
          line-height: 1.3; } }
      @media (max-width: 1023px) {
        .results-holder .text-holder h2 {
          font-size: 3.5vw; } }
      @media (max-width: 767px) {
        .results-holder .text-holder h2 {
          font-size: 4.5vw; } }
    .results-holder .text-holder .btn {
      text-transform: uppercase; }

.slick-slider-frame {
  z-index: 10;
  max-width: 1200px;
  margin: 0 auto;
  position: relative; }
  .slick-slider-frame .slick-arrow {
    position: absolute;
    top: 50%;
    left: 70px;
    z-index: 1;
    border: solid #333;
    border-width: 0 0 3px 3px;
    width: 30px;
    height: 30px;
    background: none;
    font-size: 50px;
    line-height: 1;
    font-weight: 900;
    text-indent: -9999px;
    overflow: hidden;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    outline: none; }
    @media (max-width: 1299px) {
      .slick-slider-frame .slick-arrow {
        left: 15px; } }
    @media (max-width: 767px) {
      .slick-slider-frame .slick-arrow {
        display: none !important; } }
    .slick-slider-frame .slick-arrow.slick-next {
      left: auto;
      right: 15px;
      -webkit-transform: rotate(225deg);
          -ms-transform: rotate(225deg);
              transform: rotate(225deg); }

.complete_question {
  color: #333; }

.slick-dots {
  display: none !important;
  text-align: center;
  padding: 10px 0 0; }
  @media (max-width: 767px) {
    .slick-dots {
      display: block !important; } }
  .slick-dots li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px; }
    .slick-dots li.slick-active button {
      background: #333; }
    .slick-dots li button {
      display: block;
      width: 15px;
      height: 15px;
      text-indent: -9999px;
      overflow: hidden;
      border-radius: 100%;
      border: none;
      background: grey;
      outline: none; }

/* Slick slider styles */
.slick-slider-frame {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider-frame .slick-track,
.slick-slider-frame .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }
/*# sourceMappingURL=style.css.map */