/* =WordPress Core
-------------------------------------------------------------- */
/*
Revision: 5805
*/

.frame .gallery img{
	border: none !important;
}

.answer-holder p img{
	width: auto;
}

.home #header .container{
	position: relative;
}

.wpml-ls-legacy-dropdown{
	position: absolute;
	top: -1.2vw;
	right: 1.5vw;
	width: 11.2vw;
	
}

.wpml-ls-legacy-dropdown > ul > li > a{
	background: #b6bac3 !important;
	border: none;
	color: #fff !important;
	font-size: 1.1vw;
	line-height: 1;
	height: 4.6vw;
	padding: 1.4vw;
}

.wpml-ls-legacy-dropdown > ul > li > a:after{
	display: none !important;
}

.wpml-ls-legacy-dropdown > ul > li > a:before{
	position: absolute;
	content: '';
	border: solid #fff;
	border-width: 0 3px 3px 0;
	width: 0.7vw;
	height: 0.7vw;
	transform: rotate(45deg);
	right: 1.3vw;
	top: 1.8vw;
}


.wpml-ls-legacy-dropdown .wpml-ls-flag{
	width: 1.6vw;
	height: 1.6vw;
	border-radius: 100%;
}

.wpml-ls-legacy-dropdown .wpml-ls-flag+span{
	margin-left: 0.6vw;
}

.wpml-ls-sub-menu li a{
	background: #b6bac3 !important;
	border: none;
	color: #fff !important;
	font-size: 1.1vw;
	line-height: 1;
	height: 4.6vw;
	padding: 1.4vw;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

@media only screen and (max-width:1024px){
	.wpml-ls-legacy-dropdown {
		width: 15vw;
	}
	.wpml-ls-legacy-dropdown > ul > li > a{
		height: 5.8vw;
		font-size: 1.5vw;
		padding: 1.8vw;
	}
	.wpml-ls-legacy-dropdown .wpml-ls-flag{
		width: 2vw;
		height: 2vw;
	}
	.wpml-ls-legacy-dropdown > ul > li > a:before{
		top: 2.1vw;
		width: 1.1vw;
		height: 1.1vw;
	}
	.wpml-ls-legacy-dropdown .wpml-ls-sub-menu a{
		font-size: 1.5vw;
		padding: 1.8vw;
		height: 5.6vw;
	}
}

@media only screen and (max-width:767px){
	.wpml-ls-legacy-dropdown{
		top: -10px;
		right: 0;
		width: auto;
	}
	.wpml-ls-legacy-dropdown > ul > li > a{
		height: auto;
		font-size: 13px;
		padding: 14px;
	}
	.wpml-ls-legacy-dropdown .wpml-ls-flag{
		width: 13px;
		height: 13px;
	}
	.wpml-ls-legacy-dropdown .wpml-ls-flag+span{
		margin-left: 5px;
	}
	.wpml-ls-legacy-dropdown > ul > li > a:before{
		top: 15px;
		right: 10px;
		height: 9px;
		width: 9px;
	}
	.wpml-ls-legacy-dropdown .wpml-ls-sub-menu a{
		height: auto;
		font-size: 13px;
		padding: 14px;
	}
}

@media only screen and (max-width:550px){
	.wpml-ls-legacy-dropdown{
		top: 100%;
		margin: 10px 0 0;
	}	
}